.logo{
    color: red;
}
.icon{
    color: red ;
}
.sign-up{
    color: red;
}
.create-account{
    color: black;
    background-color: red;
}
.or{
    color: red;

}
.btn{
    color: black;
    background-color: red;
}
a{
    color: red;
}
