@font-face {
    font-family: 'Verdana', sans-serif;
    src: url('../Fonts/Verdana.ttf');
}

body {
    font-family: Verdana, sans-serif;
    background: url("../IMG/rana-sawalha-364253-unsplash@1X.png") no-repeat fixed;
    background-size: cover;
    margin: 0;
    position: relative;
}
.clearfix {
    content: "";
    display: block;
    clear: both;
}
a {
    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 54px;
}

.menu {
    width: 90%;
    margin: 0 auto;
    padding-top: 18px;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo:hover {
    color: #3cb878;
    transition: .3s;
    text-decoration: none;
}

.right-menu {
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.icon {
    display: inline-block;
    background: url("../IMG/css_sprites.png") no-repeat;
}

.icon.calendar {
    margin-right: 20px;
    background-position: 0 0;
    height: 19px;
    width: 19px;
}

.icon.forum {
    margin-right: 20px;
    background-position: -19px 0;
    height: 20px;
    width: 28px;
}

.icon.navigation {
    margin-right: 20px;
    background-position: -47px 0;
    height: 20px;
    width: 20px;
}

.icon.calendar:hover {
    background-position: 0 -19px;
    transition: .3s;
}

.icon.forum:hover {
    background-position: -19px -20px;
    transition: .3s;
}

.icon.navigation:hover {
    background-position: -47px -20px;
    transition: .3s;
}

.welcome {
    display: inline-block;
    vertical-align: super;
    padding-left: 25px;
}

.welcome::before {
    content: "";
    width: 1px;
    height: 19px;
    margin-left: -24px;
    opacity: 1;
    display: block;
    position: absolute;
    background-color: #33312f;
}

.flex-box {
    min-height: calc(100vh - 54px );
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-window {
    display: flex;
    height: 650px;
    width: 444px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}

.container {
    position: relative;
    padding: 20px 62px ;
}

.sign-up {
    display: inline-block;
    margin-top: 9px;
    font-size: 20px;
    font-weight: 400;
    color: #434343;
}

.login-right {
    margin-top: 13px;
    float: right;
}

.sign-up::before {
    content: "";
    height: 18px;
    width: 18px;
    position: absolute;
    margin-left: -62px;
    background-color: #3cb878;
}

.btn {
    cursor: pointer;
    border: none;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    font-size: 16px;
    color: #fafafa;
}

.fab {
    color: #fafafa;
    float: left;
    padding-left: 10px;
    font-size: 20px;

}

.facebook {
    background-color: #305db8;
    margin-right: .5%;
}

.gmail {
    background-color: #df4a32;
}

.ficon::after {
    content: "";
    width: 1px;
    height: 28px;
    top: 14%;
    left: 23%;
    opacity: .2;
    display: block;
    position: absolute;
    background-color: #312e2c;
}

.gicon::after {
    content: "";
    width: 1px;
    height: 28px;
    top: 14%;
    right: 38%;
    opacity: .2;
    display: block;
    position: absolute;
    background-color: #312e2c;
}

.facebook:hover {
    background-color: #264b96;
    transition: .4s;
}

.gmail:hover {
    background-color: #c3412c;
    transition: .4s;
}

.or {
    padding-top: 12px;
    text-align: center;
    color: rgba(132, 132, 132, 255);
    font-size: 14px;
}

.or::before {
    content: "";
    height: 1px;
    width: 135px;
    top: 26%;
    display: block;
    position: absolute;
    background-color: #eaeaea;
}

.or::after {
    content: "";
    height: 1px;
    width: 135px;
    top: 26%;
    right: 64px;
    display: block;
    position: absolute;
    background-color: #eaeaea;
}

.registration {
    margin-top: 18px;
}

.input-form {
    margin-bottom: 9px;
    width: 93.5%;
    height: 46px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    color: rgba(67, 67, 67, 255);
}

.input-form::placeholder {
    color: rgba(190, 190, 190, 255);
}

.input-form:focus {
    outline: none;
    font-weight: 600;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

input {
    padding-left: 19px;
    font-size: 14px;
}

.new-checkbox {
    font-size: 14px;

}
.check {
    margin-top: -9px;
}
input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .new-checkbox::before {
    content: "\2714";
}

.new-checkbox::before {
    content: "\00A0";
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #eaeaea;
    color: #39ba78;
    border-radius: 2px;
    vertical-align: baseline;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
}

.create-account {
    cursor: pointer;
    width: 322px;
    height: 46px;
    color: #fafafa;
    background-color: #3cb878;
    padding: 0;
    border: none;
    border-radius: 3px;
}

#btnChange{
    margin-top: 20px;
    color: blue;
    background: yellow;
    font-size: 20px;
    margin-left: 110px;
}